# Flink directories
/log/
/target/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IDEs
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
*.tmp

# User-specific files
*.swp
*~
.bloop
.metals
